{% extends 'base.html' %}
{% block content %}
    {% for obj in object_list %}
        <div class="post_list_div">
            <img src={{ obj.image.url }} alt='post image' width="100" />
            <div>
                <div>
                    <a href={% url 'post_detail' obj.id %}>{{ obj.title}}</a>
                </div>
                <div>
                    {{ obj.body }}
                    <div class="post_author_div">
                        <small> by <a href="#">{{obj.author}}</a></small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock%}
